<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="main :: head"></div>

<body class="hold-transition skin-purple sidebar-mini">

    <div class="wrapper">

        <!-- 页面头部 -->
        <div th:replace="header :: header"></div>
        <!-- 页面头部 /-->

        <!-- 导航侧栏 -->
        <div th:replace="aside :: aside"></div>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->
        <!-- @@master = admin-layout.html-->
        <!-- @@block = content -->

        <div class="content-wrapper">

            <!-- 内容头部 -->
            <section class="content-header">
                <h1>
                    后台管理
                    <small>权限分配</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li><a href="#"></a></li>
                    <li class="active">权限分配</li>
                </ol>
            </section>
            <!-- 内容头部 /-->

            <!-- 正文区域 -->
            <section class="content">

                <div class="box-body">

                    <!--tab页-->
                    <div class="nav-tabs-custom">

                        <!--tab头-->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-label" data-toggle="tab">乡镇人员</a>
                            </li>
                            <li>
                                <a href="#tab-label" data-toggle="tab">主管人员</a>
                            </li>
                            <li>
                                <a href="#tab-label" data-toggle="tab">财政人员</a>
                            </li>
                            <li>
                                <a href="#tab-label" data-toggle="tab">全局监察人员</a>
                            </li>
                            <li>
                                <a href="#tab-label" data-toggle="tab">部门监察人员</a>
                            </li>

                        </ul>
                        <!--tab头/-->

                        <!--tab内容-->
                        <div class="tab-content">

                            <!--label显示的内容--><div class="row data-type">

                            <div class="col-md-2 title">申报</div>
                            <div class="col-md-10 data">
                                <div class="form-group form-inline">
                                    <div class="radio"><label>可添加实施主体：</label></div>
                                    <div class="radio"><label><input type="checkbox" name="optionsRadios" value="1"> 企业</label></div>
                                    <div class="radio"><label><input type="checkbox" name="optionsRadios" value="2"> 农村专业合作社</label></div>
                                    <div class="radio"><label><input type="checkbox" name="optionsRadios" value="1"> 家庭农场</label></div>
                                    <div class="radio"><label><input type="checkbox" name="optionsRadios" value="2"> 行政村</label></div>
                                    <div class="radio"><label><input type="checkbox" name="optionsRadios" value="1"> 乡镇部门</label></div>
                                    <div class="radio"><label><input type="checkbox" name="optionsRadios" value="2"> 主管部门</label></div>
                                    <div class="radio"><label><input type="checkbox" name="optionsRadios" value="1"> 个人</label></div>

                                </div>
                            </div>

                            <div class="col-md-2 title">审核</div>
                            <div class="col-md-10 data line-height36">
                                <div class="form-group form-inline">
                                    <div class="checkbox"><label><input type="checkbox" value="1"> 实施主体注册审核</label></div>
                                    <div class="checkbox"><label><input type="checkbox" value="2"> 项目审批</label></div>
                                </div>
                            </div>
                            <div class="col-md-2 title">监察</div>
                            <div class="col-md-10 data line-height36">
                                <div class="form-group form-inline">
                                    <div class="checkbox"><label><input type="checkbox" value="1"> 管辖范围监察</label></div>
                                    <div class="checkbox"><label><input type="checkbox" value="2"> 本单位监察</label></div>
                                    <div class="checkbox"><label><input type="checkbox" value="2"> 全局监察</label></div>
                                </div>
                            </div>
                            <div class="col-md-2 title">管理</div>
                            <div class="col-md-10 data line-height36">
                                <div class="form-group form-inline">
                                    <div class="checkbox"><label><input type="checkbox" value="1">  子账户管理-可添加角色选择</label></div>
                                </div>
                            </div>



                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data text-center">
                                <button type="button" class="btn bg-maroon">保存</button>
                                <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                            </div>
                        </div>

                            <!--label显示的内容/-->

                            <!--基础控件-->

                            <!--基础控件/-->

                            <!--下拉框-->

                            <!--下拉框/-->

                            <!--日期控件-->

                            <!--日期控件/-->

                            <!--树表格-->

                            <!--树表格/-->

                            <!--编辑器-->

                            <!--编辑器/-->

                            <!--模态窗口-->

                            <!--模态窗口/-->

                        </div>
                        <!--tab内容/-->

                    </div>
                    <!--tab页/-->


                    <!-- .box-footer
        <div class="box-footer"></div>
        -->
                    <!-- /.box-footer-->

                </div>

            </section>
            <!-- 正文区域 /-->

        </div>
        <!-- @@close -->
        <!-- 内容区域 /-->

        <!-- 底部导航 -->
        <div th:replace="footer :: footer"></div>
        <!-- 底部导航 /-->

    </div>


    <div th:replace="main :: script"></div>
</body>

</html>