<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<aside class="main-sidebar" th:fragment="aside">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->


        <!-- sidebar menu: : style can be found in sidebar.less -->
        <!--/* Workaround for bug https://youtrack.jetbrains.com/issue/IDEA-132738 -->
        <!--@thymesVar id="permission" type="String"-->
        <!--*/-->
        <li class="header">菜单</li>
        <ul class="sidebar-menu" th:each="Role : ${permission}">


            <li id="admin-index" th:if="${Role == 'ROLE_HOME'}"><a href="all-admin-index.html">
                <i class="fa fa-dashboard"></i> <span>首页</span></a></li>

            <!-- 菜单 -->

            <li  th:if="${Role == 'project_application'}"><a href="#" th:href="@{/projectDeclare}">
                <i class="fa fa-calendar-plus-o"></i> <span>项目申报</span></a></li>

            <li  th:if="${Role == ' project_librarian_manager'}"><a  th:href="@{/projectLibrary}">
                <i class="fa fa-dashboard"></i> <span>项目库管理</span></a></li>

            <!--<li th:if="${Role == 'enterprese_entity_manager'}"><a >
                <i class="fa fa-dashboard"></i> <span>实施单位管理</span></a></li> -->

            <li id="#" th:if="${Role == 'special_project_manager'}"><a  th:href="@{/specialProjectManage}">
                <i class="fa fa-dashboard"></i> <span>专项项目管理</span></a></li>
            <li id="#" th:if="${Role == 'special_fund_manager'}"><a th:href="@{/specialFundMange}">
                <i class="fa fa-dashboard"></i> <span>专项资金管理</span></a></li>
            <li id="#" th:if="${Role == 'project_check'}"><a th:href="@{/projectApproval}">
                <i class="fa fa-pencil-square-o"></i> <span>项目审批</span></a></li>
            <li id="#" th:if="${Role == 'announcement_manager'}"><a  th:href="@{/findAnnouncementList}">
                <i class="fa  fa-calendar-minus-o"></i> <span>公告管理</span></a></li>

            <li id="#" th:if="${Role == 'implementation_plan_manager'}"><a th:href="@{/planManager}">
                <i class="fa fa-dashboard"></i> <span>实施计划管理</span></a></li>

            <li id="#" th:if="${Role == 'fund_paln_manager'}"><a th:href="@{/fundPlanManage}">
                <i class="fa fa-cny (alias)"></i> <span>资金计划管理</span></a></li>






            <li class="treeview" th:if="${Role == 'account_manager'}">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>账户管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="admin-login">
                        <a th:href="@{/accountManagement}">
                            <i class="fa fa-circle-o"></i> 查询
                        </a>
                    </li>

                    <li id="admin-register">
                        <a>
                            <i class="fa fa-circle-o"></i> 新增
                        </a>
                    </li>



                </ul>
            </li>



            <li class="treeview" th:if="${Role == 'department_manager'}">
                <a href="#">
                    <i class="fa fa-pie-chart"></i> <span>部门机构管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="charts-chartjs">
                        <a th:href="@{/addDepartmentUrl}">
                            <i class="fa fa-circle-o"></i> 新增
                        </a>
                    </li>

                    <li id="charts-morris">
                        <a th:href="@{/findAllDepartment}">
                            <i class="fa fa-circle-o"></i> 查询所有
                        </a>
                    </li>

                </ul>
            </li>



            <li class="treeview" th:if="${Role == 'user_list'}">
                <a href="#">
                    <i class="fa fa-laptop"></i> <span>用户管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="elements-general">
                        <a >
                            <i class="fa fa-circle-o"></i> 添加用户
                        </a>
                    </li>

                    <li id="elements-icons">
                        <a href="all-elements-icons.html" th:href="@{/findAllManager}">
                            <i class="fa fa-circle-o"></i> 用户列表
                        </a>
                    </li>



                </ul>
            </li>



            <li class="treeview" th:if="${Role == 'enterprise_subject_manager'}">
                <a href="#">
                    <i class="fa fa-child"></i> <span>实施主体管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="form-general">
                        <a href="all-form-general.html" th:href="@{/personalOrderManger}">
                            <i class="fa fa-circle-o"></i> 个人实施主体
                        </a>
                    </li>

                    <li id="form-advanced">
                        <a href="all-form-advanced.html" th:href="@{/enterpriseOrderManger}">
                            <i class="fa fa-circle-o"></i> 企业实施主体
                        </a>
                    </li>
                </ul>
            </li>







            <li class="treeview" th:if="${Role == 'role_manager'}">
                <a href="#">
                    <i class="fa fa-cube"></i> <span>角色管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">

                    <li id="order-manage">
                        <a href="personal-order-manage-list.html" th:href="@{/addRoleUrl}">
                            <i class="fa fa-circle-o"></i> 添加角色
                        </a>
                    </li>
                    <li id="order-cancel1">
                        <a href="all-order-cancel-list.html" th:href="@{/findAllRole}">
                            <i class="fa fa-circle-o"></i> 管理角色
                        </a>
                    </li>
                </ul>
            </li>



            <li class="treeview" th:if="${Role == 'user_information'}">
                <a href="#">
                    <i class="fa fa-book"></i> <span>个人信息</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" >

                    <li id="travellog-manage">
                        <a href="all-travellog-manage-list.html" th:href="@{/changePassword}">
                            <i class="fa fa-circle-o"></i> 修改密码
                        </a>
                    </li>

                    <li id="travellog-review">
                        <a href="all-travellog-review-list.html" th:href="@{/changeInformation}">
                            <i class="fa fa-circle-o"></i> 修改信息
                        </a>
                    </li>

                </ul>
            </li>
            <li th:if="${Role == 'user_information'}"><a th:href="@{/logoff}">
                <i class="fa fa-dashboard"></i> <span>退出</span></a></li>

            <!-- 菜单 /-->

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>