<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="main :: head"></div>

<body class="hold-transition skin-purple sidebar-mini">

    <div class="wrapper">

        <!-- 页面头部 -->
        <div th:replace="header :: header"></div>
        <!-- 页面头部 /-->

        <!-- 导航侧栏 -->
        <div th:replace="aside :: aside"></div>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->
        <!-- @@master = admin-layout.html-->
        <!-- @@block = content -->

        <div class="content-wrapper">

            <!-- 内容头部 -->
            <section class="content-header">
                <h1>
                    部门
                    <small>项目审核</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li><a href="#"></a></li>
                    <li class="active">项目审核</li>
                </ol>
                <div class="pull-right-container">
                    <div class="form-group form-inline">
                        <div class="btn-group">

                            <a th:href="@{/changeVillageState(villageDepartmentState=1,projectId=${project.id})}"><button type="button" class="btn btn-default" title="新增" ><i class="fa fa-check"></i> 推荐</button></a>
                            <a th:href="@{/changeVillageState(villageDepartmentState=1,projectId=${project.id})}"><button type="button" class="btn btn-default" title="新增" ><i class="fa fa-check"></i> 备选</button></a>


                        </div>
                        <spen class="help-block" style="color:red" th:text="${msg}"></spen>
                    </div>
                </div>
            </section>
            <!-- 内容头部 /-->

            <!-- 正文区域 -->
            <section class="content">


                <div class="box-body">


                    <!--tab页-->
                    <div class="nav-tabs-custom">

                        <!--tab头-->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-declaration-form" data-toggle="tab">项目主信息</a>
                            </li>
                            <li>
                                <a href="#tab-fund-information" data-toggle="tab">资金信息</a>
                            </li>
                            <!--<li>
                                <a href="#tab-material-attachment" data-toggle="tab">材料附件</a>
                            </li>-->
                        </ul>
                        <!--tab头/-->

                        <!--tab内容-->
                        <form th:action="@{/saveProjectDeclare}" method="post" enctype="multipart/form-data" id="form">
                        <div class="tab-content" >
                            <!--label显示的内容-->
                            <!--@thymesVar id="project" type="com.it.projectapplication.domain.EnterpriseInformation"-->
                            <div class="tab-pane" id="tab-declaration-form">
                                <div class="row data-type">
                                    <div class="col-md-2 title">实施主主体</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="实施主主体可以修改"  th:value="${project.user.username}" th:name="username">
                                    </div>
                                    <div class="col-md-2 title">联系人</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="自动获取不可修改" value=""  th:value="${project.companyContact}" th:name="companyContact">

                                    </div>
                                    <div class="col-md-2 title">联系方式</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="可以修改" value=""  th:value="${project.phone}" th:name="phone">
                                    </div>
                                    <!--@thymesVar id="specialProject" type="com.it.projectapplication.domain.SpecialProject"-->
                                    <!--@thymesVar id="specialFund" type="com.it.projectapplication.domain.SpecialFund"-->
                                    <div class="col-md-2 title">项目主管部门</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="专项中获取" value="" th:valuet="${project.specialProject.specialFund.departmentName}" th:name="departmentName">
                                    </div>
                                    <div class="col-md-2 title">项目名称</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="污染防治项目"  th:name="name" th:value="${project.name}">
                                    </div>
                                    <!--@thymesVar id="project" type="com.it.projectapplication.domain.Project"-->
                                    <div class="col-md-2 title">项目编码</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control"  value="" th:value="${project.number}" th:name="number">
                                        <input type="hidden" th:name="id" th:value="${project.id}">
                                    </div>




                                    <div class="col-md-2 title">开始时间</div>
                                    <div class="col-md-4 data">


                                            <input type="date" th:data="date" class="form-control pull-right"   th:name="startDate" th:text="${#dates.format(project.startDate, 'yyyy-MM-dd')}">

                                    </div>
                                    <div class="col-md-2 title">结束时间</div>
                                    <div class="col-md-4 data">
                                            <input type="date" th:data="date" class="form-control pull-right" th:name="stopDate" th:text="${#dates.format(project.stopDate, 'yyyy-MM-dd')}">
                                    </div>
                                    <div class="col-md-2 title">项目级次</div>
                                    <div class="col-md-4 data">
                                        <select class="form-control" th:name="grade">
                                            <option value="1"  th:selected="${project.grade==1}">中央</option>
                                            <option value="2" th:selected="${project.grade==2}">省</option>
                                            <option value="3" th:selected="${project.grade==3}">市</option>
                                            <option value="4" th:selected="${project.grade==4}">县</option>

                                        </select>
                                    </div>
                                    <div class="col-md-2 title">项目属性</div>
                                    <div class="col-md-4 data">
                                        <select class="form-control" th:name="property">
                                            <option value="1" th:selected="${project.grade==1}">扩建</option>
                                            <option value="2" th:selected="${project.grade==2}">新建</option>
                                            <option value="3" th:selected="${project.grade==3}">改造</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 title">补贴方式</div>
                                    <div class="col-md-10 data">
                                        <div class="form-group form-inline" th:name="subsidyMethod">
                                            <div class="radio"><label><input type="radio" name="optionsRadios" value="1" th:selected="${project.subsidyMethod==1}"> 补助</label></div>
                                            <div class="radio"><label><input type="radio" name="optionsRadios" value="2" th:selected="${project.subsidyMethod==2}"> 贴息</label></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 title">项目地点</div>
                                    <div class="col-md-10 data">
                                        <input type="text" class="form-control" placeholder="详细到村" value="" th:name="address" th:value="${project.address}">
                                    </div>



                                    <div class="col-md-2 title rowHeight2x">项目基本情况简介</div>
                                    <div class="col-md-10 data rowHeight2x">
                                        <textarea class="form-control" rows="3" placeholder="请输入..." th:name="introduction" th:text="${project.introduction}"></textarea>
                                    </div>
                                    <div class="col-md-2 title rowHeight2x">建设方案</div>
                                    <div class="col-md-10 data rowHeight2x">
                                        <textarea class="form-control" rows="3" placeholder="" th:name="scheme" th:text="${project.scheme}"></textarea>
                                    </div>



                        </div>
                            </div>

                            <!--label显示的内容/-->

                            <!--实施单位信xi
                                <div class="tab-pane" id="tab-exploiting-entity">
                                    <div class="row data-type">
                                        <div class="col-md-2 title">实施主主体</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="实施主主体可以修改" value="">
                                        </div>
                                        <div class="col-md-2 title">联系人</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="自动获取可以修改" value="">
                                        </div>
                                        <div class="col-md-2 title">联系方式</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="可以修改" value="">
                                        </div>
                                        <div class="col-md-2 title">项目主管部门</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="专项中获取" value="">
                                        </div>
                                        <div class="col-md-2 title">项目名称</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="污染防治项目" value="">
                                        </div>
                                        <div class="col-md-2 title">项目编码</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="自动生成（年月日）" value="">
                                        </div>
                                        <div class="col-md-2 title"></div>

                                    </div>
                                </div>

                            <实施单位信息/-->

                            <!--资金信息-->
                                <div class="tab-pane" id="tab-fund-information">
                                <div class="row data-type">
                                    <div class="col-md-2 title">中央财政</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="stateSubsidy" th:value="${project.stateSubsidy}">
                                    </div>
                                    <div class="col-md-2 title">省级财政</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="provinceSubsidy" th:value="${project.provinceSubsidy}">
                                    </div>
                                    <div class="col-md-2 title">市级财政</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="citySubsidy" th:value="${project.citySubsidy}">
                                    </div>
                                    <div class="col-md-2 title">县级财政</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="countySubsidy" th:value="${project.countySubsidy}">
                                    </div>
                                    <div class="col-md-2 title">项目单位投入</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="unitSubsidy" th:value="${project.unitSubsidy}">
                                    </div>
                                    <div class="col-md-2 title">银行贷款</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="bankLoan" th:value="${project.bankLoan}">
                                    </div>
                                    <div class="col-md-2 title">其他投入</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="otherSubsidy" th:value="${project.otherSubsidy}">
                                    </div>
                                    <div class="col-md-6 title"></div>
                                   
                                    <div class="col-md-2 title">总投资</div>
                                    <div class="col-md-10 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="totalINvestment" th:value="${project.totalINvestment}">
                                    </div>
                                    <div class="col-md-2 title">申请财政补助</div>
                                    <div class="col-md-10 data">
                                        <input type="text" class="form-control" placeholder="0" value="0" th:name="totalSubsidy" th:value="${project.totalSubsidy}">
                                    </div>







                                </div>
                            </div>

                            <!--资金信息/-->

                            <!--材料附件-->






                            <!--材料附件/-->

                            <!--意见-->

                            <!--意见/-->



                        </div>
                        <!--tab内容/-->
                        </form>
                    </div>
                    <!--tab页/-->


                    <!-- .box-footer
        <div class="box-footer"></div>
        -->
                    <!-- /.box-footer-->

                </div>

            </section>
            <!-- 正文区域 /-->

        </div>
        <!-- @@close -->
        <!-- 内容区域 /-->

        <!-- 底部导航 -->
        <div th:replace="footer :: footer"></div>
        <!-- 底部导航 /-->

    </div>


    <div th:replace="main :: script"></div>
<script th:inline="javascript">
    /*<![CDATA[*/

    /*]]>*/



</script>
</body>

</html>