<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="main :: head"></div>

<body class="hold-transition skin-purple sidebar-mini">

    <div class="wrapper">

        <!-- 页面头部 -->
        <div th:replace="header :: header"></div>
        <!-- 页面头部 /-->

        <!-- 导航侧栏 -->
        <div th:replace="aside :: aside"></div>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->
        <div class="content-wrapper">

            <!-- 内容头部 -->
            <section class="content-header">
                <h1>

                    <small>资金计划管理</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="all-admin-index.html"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li class="active">资金计划管理</li>
                </ol>
            </section>
            <!-- 内容头部 /-->

            <!-- 正文区域 -->
            <section class="content">

                <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">列表</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->



                            <!--工具栏/-->

                            <!--数据列表-->
                            <div>
                                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                                    <thead>
                                    <tr>
                                        <th class="sorting">项目名称</th>
                                        <th class="sorting">实施单位</th>
                                        <th class="sorting">年度</th>
                                        <th class="sorting">批次</th>
                                        <th class="sorting">总投资</th>
                                        <th class="sorting">申请拟补助金额</th>
                                        <th class="sorting">拟补助金额</th>

                                    </tr>
                                    </thead>
                                    <!--@thymesVar id="list" type="List<com.it.projectapplication.domain.SpecialFund>"-->
                                    <tbody>
                                    <span th:each="specialFund,iterStat : ${list}">
                                    <tr>

                                        <!--@thymesVar id="name" type="String"-->
                                        <td th:text="${specialFund.name}">农业设施建设</td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>

                                        <td class="text-center">
                                        </td>
                                    </tr>
                                    <!--@thymesVar id="specialProject" type="com.it.projectapplication.domain.SpecialProject"-->
                                    <span th:each="specialProject,iterStat : ${specialFund.specialProjects}">
                                    <tr>
                                        <!--@thymesVar id="name" type="String"-->
                                        <td  th:text="|${specialProject.year}${specialProject.batch}|">2019第一批</td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>
                                        <td ></td>

                                        <td class="text-center">
                                        </td>
                                    </tr>
                                    <!--@thymesVar id="project" type="com.it.projectapplication.domain.Project"-->
                                    <tr  th:each="project,iterStat : ${specialProject.projects}">
                                        <td th:text="${project.name}"></td>
                                        <td th:text="${specialProject.year}"></td>
                                        <td th:text="${specialProject.batch}"></td>
                                        <td th:text="${project.totalINvestment}"></td>
                                        <td th:text="${project.totalSubsidy}"></td>
                                        <td th:text="${project.totalHypothesisSubsidy}"></td>
                                        <td class="text-center">
                                            <a th:href="@{/fundPlanChange(projectId=${project.id})}"><button type="button" class="btn bg-olive btn-xs">资金设置</button></a>
                                            <a><button type="button" class="btn bg-olive btn-xs">提交</button></a>
                                        </td>

                                    </tr>

                                    </tbody>
                                    <!--
                                <tfoot>
                                <tr>
                                <th>Rendering engine</th>
                                <th>Browser</th>
                                <th>Platform(s)</th>
                                <th>Engine version</th>
                                <th>CSS grade</th>
                                </tr>
                                </tfoot>-->
                                </table>
                            </div>
                                </tbody>
                                <!--
                            <tfoot>
                            <tr>
                            <th>Rendering engine</th>
                            <th>Browser</th>
                            <th>Platform(s)</th>
                            <th>Engine version</th>
                            <th>CSS grade</th>
                            </tr>
                            </tfoot>-->
                            </table>
                            <!--数据列表/-->

                            <!--工具栏-->

                            <!--工具栏/-->

                        </div>
                        <!-- 数据表格 /-->
                        <div th:replace="enterprise-order-manage-list :: page"><div>


                    </div>
                    <!-- /.box-body -->

                    <!-- .box-footer-->

                    <!-- /.box-footer-->


                </div>

            </section>
            <!-- 正文区域 /-->

        </div>
        <!-- 内容区域 /-->

        <!-- 底部导航 -->
        <div th:replace="footer :: footer"></div>
        <!-- 底部导航 /-->

    </div>

    <div th:replace="main :: script"></div>


</body>

</html>