<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="main :: head"></div>

<body class="hold-transition skin-purple sidebar-mini">

    <div class="wrapper">

        <!-- 页面头部 -->
        <div th:replace="header :: header"></div>
        <!-- 页面头部 /-->

        <!-- 导航侧栏 -->
        <div th:replace="aside :: aside"></div>
        <!-- 导航侧栏 /-->

        <!-- 内容区域 -->
        <!-- @@master = admin-layout.html-->
        <!-- @@block = content -->

        <div class="content-wrapper">

            <!-- 内容头部 -->
            <section class="content-header">
                <h1>
                    项目审批
                    <small>项目信息</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                    <li><a href="#"></a></li>
                    <li class="active">项目信息</li>
                </ol>
            </section>
            <!-- 内容头部 /-->

            <!-- 正文区域 -->
            <section class="content">

                <div class="box-body">

                    <!--tab页-->
                    <div class="nav-tabs-custom">

                        <!--tab头-->
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-declaration-form" data-toggle="tab">申报表</a>
                            </li>
                            <li>
                                <a href="#tab-exploiting-entity" data-toggle="tab">实施单位信息</a>
                            </li>
                            <li>
                                <a href="#tab-fund-information" data-toggle="tab">资金信息</a>
                            </li>
                            <li>
                                <a href="#tab-material-attachment" data-toggle="tab">材料附件</a>
                            </li>
                            <li>
                                <a href="#tab-opinion" data-toggle="tab">意见</a>
                            </li>

                        </ul>
                        <!--tab头/-->

                        <!--tab内容-->

                        <div class="tab-content">
                            <!--label显示的内容-->

                            <div class="tab-pane" id="tab-declaration-form">
                                <div class="row data-type">
                                    <div class="col-md-2 title">实施主主体</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="实施主主体可以修改" value="">
                                    </div>
                                    <div class="col-md-2 title">联系人</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="自动获取可以修改" value="">
                                    </div>
                                    <div class="col-md-2 title">联系方式</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="可以修改" value="">
                                    </div>
                                    <div class="col-md-2 title">项目主管部门</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="专项中获取" value="">
                                    </div>
                                    <div class="col-md-2 title">项目名称</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="污染防治项目" value="">
                                    </div>
                                    <div class="col-md-2 title">项目编码</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="自动生成（年月日）" value="">
                                    </div>




                                    <div class="col-md-2 title">开始时间</div>
                                    <div class="col-md-4 data">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="dateTimePicker">
                                        </div>
                                    </div>
                                    <div class="col-md-2 title">结束时间</div>
                                    <div class="col-md-4 data">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input type="text" class="form-control pull-right" id="dateTimePicker1">
                                        </div>
                                    </div>
                                    <div class="col-md-2 title">项目级次</div>
                                    <div class="col-md-4 data">
                                        <select class="form-control">
                                            <option>中央</option>
                                            <option>省</option>
                                            <option>市</option>
                                            <option>县</option>

                                        </select>
                                    </div>
                                    <div class="col-md-2 title">项目属性</div>
                                    <div class="col-md-4 data">
                                        <select class="form-control">
                                            <option>扩建</option>
                                            <option>新建</option>
                                            <option>改造</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 title">补贴方式</div>
                                    <div class="col-md-10 data">
                                        <div class="form-group form-inline">
                                            <div class="radio"><label><input type="radio" name="optionsRadios" value="1"> 补助</label></div>
                                            <div class="radio"><label><input type="radio" name="optionsRadios" value="2"> 贴息</label></div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 title">项目地点</div>
                                    <div class="col-md-2 data">
                                        <input type="text" class="form-control" placeholder="桐乡" value="">
                                    </div>
                                    <div class="col-md-3 data">
                                        <select class="form-control">
                                            <option>中央</option>
                                            <option>省</option>
                                            <option>市</option>
                                            <option>县</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 title">乡镇</div>

                                    <div class="col-md-3 data">
                                        <select class="form-control">
                                            <option>中央</option>
                                            <option>省</option>
                                            <option>市</option>
                                            <option>县</option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 title">村</div>


                                    <div class="col-md-2 title rowHeight2x">项目基本情况简介</div>
                                    <div class="col-md-10 data rowHeight2x">
                                        <textarea class="form-control" rows="3" placeholder="请输入..."></textarea>
                                    </div>
                                    <div class="col-md-2 title rowHeight2x">建设方案</div>
                                    <div class="col-md-10 data rowHeight2x">
                                        <textarea class="form-control" rows="3" placeholder=""></textarea>
                                    </div>


                            <div class="col-md-2 title"></div>
                            <div class="col-md-10 data text-center">
                                <button type="button" class="btn bg-maroon">保存</button>
                                <button type="button" class="btn bg-maroon">备选</button>
                                <button type="button" class="btn bg-maroon">推荐</button>
                                <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                            </div>
                        </div>
                            </div>

                            <!--label显示的内容/-->

                            <!--实施单位信息-->
                                <div class="tab-pane" id="tab-exploiting-entity">
                                    <div class="row data-type">
                                        <div class="col-md-2 title">实施主主体</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="实施主主体可以修改" value="">
                                        </div>
                                        <div class="col-md-2 title">联系人</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="自动获取可以修改" value="">
                                        </div>
                                        <div class="col-md-2 title">联系方式</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="可以修改" value="">
                                        </div>
                                        <div class="col-md-2 title">项目主管部门</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="专项中获取" value="">
                                        </div>
                                        <div class="col-md-2 title">项目名称</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="污染防治项目" value="">
                                        </div>
                                        <div class="col-md-2 title">项目编码</div>
                                        <div class="col-md-4 data">
                                            <input type="text" class="form-control" placeholder="自动生成（年月日）" value="">
                                        </div>













                                        <div class="col-md-2 title"></div>
                                        <div class="col-md-10 data text-center">

                                            <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                                        </div>
                                    </div>
                                </div>

                            <!--实施单位信息/-->

                            <!--资金信息-->
                                <div class="tab-pane" id="tab-fund-information">
                                <div class="row data-type">
                                    <div class="col-md-2 title">专项资金名称</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="自动获取" value="">
                                    </div>
                                    <div class="col-md-2 title">专项资金代码</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="自动获取" value="">
                                    </div>
                                    <div class="col-md-2 title">业务咨询</div>
                                    <div class="col-md-4 data">
                                        <input type="text" class="form-control" placeholder="自动获取" value="">
                                    </div>

                                    <div class="col-md-10 data text-center">

                                        <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                                    </div>
                                </div>
                            </div>

                            <!--资金信息/-->

                            <!--材料附件-->
                            <div class="tab-pane" id="tab-material-attachment">
                                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">

                                <thead>
                                <tr>
                                    <th class="" style="padding-right:0px;">
                                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                                    </th>
                                    <th class="sorting">序列号</th>
                                    <th class="sorting_asc">专项项目名称</th>
                                    <th class="sorting">专项项目资金</th>
                                    <th class="sorting">业务咨询</th>


                                    <th class="text-center">操作</th>
                                </tr>
                                </thead>
                                <tbody>



                                <tr>
                                    <td><input name="ids" type="checkbox"></td>
                                    <td>
                                        1
                                    </td>
                                    <td>农业设施建设</td>

                                    <td>00001</td>
                                    <td>xxx</td>






                                    <td class="text-center">

                                        <button type="button" class="btn bg-olive btn-xs" onclick='location.href="all-order-manage-edit.html"'>查看</button>



                                    </td>
                                </tr>
                                </tbody>
                                </table>

                            </div>

                            <!--材料附件/-->

                            <!--意见-->
                            <div class="tab-pane" id="tab-opinion">
                                <div class="row data-type">
                                    <div class="col-md-2 title rowHeight2x">申报说明</div>
                                    <div class="col-md-10 data rowHeight2x">
                                        <textarea class="form-control" rows="3" placeholder="请输入..."></textarea>

                                    </div>
                                </div>
                                <div class="col-md-2 title"></div>
                                <div class="col-md-10 data text-center">
                                    <button type="button" class="btn bg-maroon">保存</button>

                                    <button type="button" class="btn bg-default" onclick="history.back(-1);">返回</button>
                                </div>
                            </div>

                            <!--意见/-->



                        </div>
                        <!--tab内容/-->

                    </div>
                    <!--tab页/-->


                    <!-- .box-footer
        <div class="box-footer"></div>
        -->
                    <!-- /.box-footer-->

                </div>

            </section>
            <!-- 正文区域 /-->

        </div>
        <!-- @@close -->
        <!-- 内容区域 /-->

        <!-- 底部导航 -->
        <div th:replace="footer :: footer"></div>
        <!-- 底部导航 /-->

    </div>

    <div th:replace="main :: script"></div>
</body>

</html>